input/2021-07-12DARE_Datenformate_v3.1/AR_Planungsdaten/DareARPlanungsdaten.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ecc="urn:entsoe.eu:wgedi:components" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="urn:entsoe.eu:wgedi:components" schemaLocation="urn-entsoe-eu-wgedi-components.xsd"/>
	<xsd:element name="DareARPlanungsdatenDokument">
		<xsd:annotation>
			<xsd:documentation source="Dokumentation">Ausgabe</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="DocumentIdentification" type="ecc:IdentificationType">
					<xsd:annotation>
						<xsd:documentation source="Desc" xml:lang="DE">Die Identifikation des Dokuments (DocumentIdentification) hat je Absender und je Dokumententyp eindeutig zu sein. Bei der Bildung der Identifikation ist auf Groß- und Kleinschreibung zu achten (case-sensitive).</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DocumentVersion" type="ecc:VersionType">
					<xsd:annotation>
						<xsd:documentation source="Desc" xml:lang="DE">Die DocumentVersion (auch als Meldungsversion bezeichnet) gibt die Version eines Dokumentes an, welches über die DocumentIdentification identifiziert wird. Mit jeder Aktualisierung wird die Versionsangabe kontinuierlich, mit 1  beginnend, hochgezählt. Die jeweils höchste DocumentVersion kennzeichnet die aktuelle Version.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DocumentType" type="DareMessageType">
					<xsd:annotation>
						<xsd:documentation source="Desc" xml:lang="DE">Der DocumentType dient zur eindeutigen Kennzeichnung des Dokumenttyps.</xsd:documentation>
						<xsd:documentation source="Desc" xml:lang="DE">Anwendbare Codes:
'D14'	AR-Planungsdaten</xsd:documentation>
						<xsd:documentation source="Layout">Layout</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ProcessType" type="ecc:ProcessType">
					<xsd:annotation>
						<xsd:documentation source="Desc" xml:lang="DE">Der ProcessType gibt an, in welchem Prozess dieses Dokument eingesetzt wird.</xsd:documentation>
						<xsd:documentation source="Remark" xml:lang="DE">Anwendbare Codes:
'A14'	Forecast</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SenderIdentification" type="ecc:PartyType">
					<xsd:annotation>
						<xsd:documentation source="Desc" xml:lang="DE">Dieses Element dient zur eindeutigen Identifikation des Senders über seine Marktpartner-ID, die zu einer vordefinierten Codeliste einer vergebenden Organisation gehören muss.</xsd:documentation>
						<xsd:documentation source="Remark" xml:lang="DE">Anwendbare codingSchemes:
'A10'		EIC
'NDE'	Germany National coding scheme</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SenderRole" type="ecc:RoleType">
					<xsd:annotation>
						<xsd:documentation source="Desc" xml:lang="DE">Dieses Element dient zur Angabe der Marktrolle des Absenders.</xsd:documentation>
						<xsd:documentation source="Remark" xml:lang="DE">Anwendbare Codes:
'A39' Grid operator 
</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ReceiverIdentification" type="ecc:PartyType">
					<xsd:annotation>
						<xsd:documentation source="Desc" xml:lang="DE">Dieses Element dient zur eindeutigen Identifikation des Empfängers über seine Marktpartner-ID, die zu einer vordefinierten Codeliste einer vergebenden Organisation gehören muss.</xsd:documentation>
						<xsd:documentation source="Remark" xml:lang="DE">Anwendbare codingSchemes:
'A10'		EIC
'NDE'	Germany National coding scheme</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ReceiverRole" type="ecc:RoleType">
					<xsd:annotation>
						<xsd:documentation source="Desc" xml:lang="DE">Dieses Element dient zur Angabe der Marktrolle des Empfängers.</xsd:documentation>
						<xsd:documentation source="Remark" xml:lang="DE">Anwendbare Codes:
'A18' Grid operator 
</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DocumentDateTime" type="ecc:DocumentDateTimeType">
					<xsd:annotation>
						<xsd:documentation source="Desc" xml:lang="DE">
Hier ist der Erzeugungszeitpunkt des Dokuments (in der jeweiligen Version) anzugeben. Die Zeitangabe erfolgt in UTC. 

Der Zeitpunkt ist immer im Format yyyy-mm-ddThh:mm:ssZ anzugeben mit:

yyyy vier Ziffern für die Jahresangabe
mm zwei Ziffern für die Monatsangabe
dd zwei Ziffern für die Tagesangabe
hh zwei Ziffern für die Stundenangabe
mm zwei Ziffern für die Minutenangabe
ss zwei Ziffern für die Sekundenangabe
T Trennzeichen zwischen Datum und Uhrzeit
Z Verweis auf UTC
            </xsd:documentation>
						<xsd:documentation source="Remark" xml:lang="DE">Zeitpunkt in UTC gemäß Pattern</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="TimePeriodCovered" type="ecc:TimeIntervalType">
					<xsd:annotation>
						<xsd:documentation source="Desc" xml:lang="DE">
Der Zeitraum entspricht immer dem Erfüllungstag (ein Kalendertag von 0:00 Uhr lokaler deutscher Zeit des Erfüllungstages bis 0:00 Uhr lokaler deutscher Zeit des unmittelbar auf den Erfüllungstag folgenden Tages), für den die Daten gesendet werden. 

Das Zeitintervall (von Beginn des Erfüllungstages bis Ende des Erfüllungstages) ist im UTC-Format yyyy-mm-ddThh:mmZ/yyyy-mmddThh:mmZ wie folgt anzugeben:

yyyy vier Ziffern für die Jahresangabe
mm zwei Ziffern für die Monatsangabe
dd zwei Ziffern für die Tagesangabe
hh zwei Ziffern für die Stundenangabe
mm zwei Ziffern für die Minutenangabe
T Trennzeichen zwischen Datum und Uhrzeit
Z Verweis auf UTC
/ Trennzeichen zwischen beiden Zeitangaben
            </xsd:documentation>
						<xsd:documentation source="Remark" xml:lang="DE">Tag in UTC gemäß Pattern</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DarePlannedAggregationResourceTimeSeries" type="DarePlannedAggregationResourceTimeSeries_Type" minOccurs="1" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation source="Desc" xml:lang="DE">Der Absender kann so viele Zeitreihen wie nötig zur Erfüllung seiner Datenlieferpflichten in einem Dokument übertragen. Einmal enthaltene Zeitreihen dürfen bei Aktualisierungen nicht entfernt werden. Sofern eine Zeitreihe irrtümlich übertragen wurde, kann diese ab der nächsten höheren Version mit Nullwerten aktualisiert werden.</xsd:documentation>
						<xsd:documentation source="Dokumentation">Ausgabe</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="DtdVersion" type="xsd:string" use="required" fixed="4"/>
			<xsd:attribute name="DtdRelease" type="xsd:string" use="required" fixed="1"/>
			<xsd:attribute name="DtdBDEWNachrichtenVersion" type="xsd:string" fixed="1.0"/>
			<xsd:attribute name="DareSchemaVersion" type="DareSchemaVersionType" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Interval_Type">
		<xsd:sequence>
			<xsd:element name="Pos" type="ecc:PositionType"/>
			<xsd:element name="Qty" type="ecc:QuantityType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Period_Type">
		<xsd:sequence>
			<xsd:element name="TimeInterval" type="ecc:TimeIntervalType">
				<xsd:annotation>
					<xsd:documentation source="Desc" xml:lang="DE">
Hier erfolgt die Angabe des Zeitintervalls für die
zugehörige Periode in der Zeitreihe. 
Die Angabe erfolgt im UTC-Format yyyy-mmddThh:
mmZ/yyyy-mm-ddThh:mmZ: 
yyyy vier Ziffern für die Jahresangabe 
mm zwei Ziffern für die Monatsangabe 
dd zwei Ziffern für die Tagesangabe 
hh zwei Ziffern für die Stundenangabe 
mm zwei Ziffern für die Minutenangabe 
T Trennzeichen zwischen Datum und Uhrzeit 
Z Verweis auf UTC 
/ Trennzeichen zwischen beiden Zeitangaben

Das TimeInterval umfasst zwingend immer einen
Kalendertag. Dabei sind die Vorgaben zur Zeitumstellung
gemäß der EDI@Energy Allgemeinen Festlegungen zu
berücksichtigen.
			</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Resolution" type="ecc:ResolutionType">
				<xsd:annotation>
					<xsd:documentation source="Desc" xml:lang="DE">Viertelstundenauflösung.
				</xsd:documentation>
					<xsd:documentation source="Remark" xml:lang="DE">Anwendbare Codes:	
'PT15M' Viertelstundenauflösung </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Interval" type="Interval_Type" minOccurs="1" maxOccurs="100"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DarePlannedAggregationResourceTimeSeries_Type">
		<xsd:sequence>
			<xsd:element name="TimeSeriesIdentification" type="ecc:IdentificationType"/>
			<xsd:element name="BusinessType" type="ecc:BusinessType">
				<xsd:annotation>
					<xsd:documentation source="Desc" xml:lang="DE">Typ der Zeitreihe.</xsd:documentation>
					<xsd:documentation source="Remark" xml:lang="DE">Anwendbare Codes:
'A01' Production 
'A04' Consumption 
'A10' Tertiary control
'A11' Primary control 
'A12' Secondary control 
'A46' System Operator redispatching 
'A60 Minimum possible 
'A61 Maximum available 
'A77 Production, dispatchable 
'A79 Production, non-dispatchable 
'A85 Internal redispatch 
'A93 Wind generation 
'A94 Solar generation 
'Z05 wärmegebundenes Redispatchvermögen
</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Direction" type="ecc:DirectionType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="Desc" xml:lang="DE">Die Direction beschreibt die Richtung des Energieflusses.</xsd:documentation>
					<xsd:documentation source="Remark" xml:lang="DE">Anwendbare Codes:	
'A01' Up
'A02' Down </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Product" type="ecc:EnergyProductType">
				<xsd:annotation>
					<xsd:documentation source="Desc" xml:lang="DE">Dieses Element dient der Identifikation des Produktes, welches in der jeweiligen Zeitreihe ausgetauscht wird. Im hier definierten Datenaustausch handelt es sich um die Wirkleistung.
			</xsd:documentation>
					<xsd:documentation source="Remark" xml:lang="DE">Anwendbare Codes:	
'8716867000016' Active power </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ConnectingArea" type="ecc:AreaType">
				<xsd:annotation>
					<xsd:documentation>Es ist der EIC der Regelzone anzugeben, der die technische(n) Ressource(n) zugeordnet ist/sind, für die die Zeitreihen gemeldet werden.</xsd:documentation>
					<xsd:documentation source="Remark" xml:lang="DE">Anwendbare Codes:
'10YDE-ENBW-----N'	TransnetBW
'10YDE-EON------1'	TenneT
'10YDE-RWENET---I'	Amprion
'10YDE-VE-------2'	50Hertz
			</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ResourceObject" type="ecc:ResourceObjectType">
				<xsd:annotation>
					<xsd:documentation source="Desc" xml:lang="DE">ID des Netzbetriebsmittels.</xsd:documentation>
					<xsd:documentation source="Remark" xml:lang="DE">Anwendbare codingSchemes:
'A01'		EIC
'NDE'	Germany National coding scheme</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AcquiringArea" type="ecc:AreaType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="Desc" xml:lang="DE">Angabe des Gebietes, für welches die Regelleistung vorbehalten wird.</xsd:documentation>
					<xsd:documentation source="Remark">Das Element wird nur bei Verwendung der folgenden Business Types genutzt:
- A10 
- A11
- A12
In allen anderen Zeitreihen hat die Angabe der AcquiringArea nicht zu erfolgen.

Anwendbare Codes:
'10YCB-GERMANY--8'

Anwendbare codingSchemes:
'A01'	EIC
</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MeasurementUnit" type="ecc:UnitOfMeasureType">
				<xsd:annotation>
					<xsd:documentation source="Desc" xml:lang="DE">Hier wird die physikalische Einheit des im Element Qty angegebenen Wertes spezifiziert.
				</xsd:documentation>
					<xsd:documentation source="Remark" xml:lang="DE">Anwendbare Codes:
'MAW'	Megawatt </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Period" type="Period_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- DA/RE extensions -->
	<xsd:simpleType name="DareSchemaVersionType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1.0"/>
			<!--	<xsd:enumeration value="1.1"/>-->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="DareMessageType">
		<xsd:attribute name="v" type="DareMessageTypeList" use="required"/>
	</xsd:complexType>
	<xsd:simpleType name="DareMessageTypeList">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="D14"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
