input/2021-07-12DARE_Datenformate_v3.1/NTW-Stammdaten/DareMasterDataSensitivity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2013 rel. 2 sp2 (x64) (http://www.altova.com) von EnBW AG (EnBW Systeme Infrastruktur Support GmbH) bearbeitet -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:ecc="urn:entsoe.eu:wgedi:components" xmlns:ecl="urn:entsoe.eu:wgedi:codelists" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="urn:entsoe.eu:wgedi:components" schemaLocation="urn-entsoe-eu-wgedi-components.xsd"/>
	<!-- DA/RE extension -->
	<xsd:import namespace="urn:entsoe.eu:wgedi:codelists" schemaLocation="urn-entsoe-eu-wgedi-codelists.xsd"/>
	<xsd:element name="DareMasterDataSensitivityDocument">
		<xsd:annotation>
			<xsd:documentation source="Desc">Stammdaten-Dokument zur Übermittlung der Netztechnischen Wirksamkeiten für den Standard-Fall. Enthält alle Netztechnischen Wirksamkeiten (NTW/Sensitivitäten) für ein Netzmodell (Netzgebiet). Sensitivitäten, die sich durch Umschaltungen ergeben können müssen hier bereits angegeben werden.</xsd:documentation>
			<xsd:documentation source="Example">Bsp.: Sammelschiene 1 (S1) hat eine NTW von 1.00 auf Trafo 2 (T2), und eine NTW von 0.00 auf Trafo 1 (T1), die NTW von S1 auf T1 = 0.00 muss nur angegeben werden, wenn diese durch Umschaltung einen Wert größer Null haben kann und damit durch NTW Planungsdaten geändert werden soll.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="DocumentIdentification" type="ecc:IdentificationType">
					<xsd:annotation>
						<xsd:documentation source="Desc" xml:lang="DE">Die Identifikation des Dokuments (DocumentIdentification) hat je Absender und je Dokumententyp eindeutig zu sein. Bei der Bildung der Identifikation ist auf Groß- und Kleinschreibung zu achten (case-sensitive).</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DocumentVersion" type="ecc:VersionType">
					<xsd:annotation>
						<xsd:documentation source="Desc" xml:lang="DE">Die DocumentVersion (auch als Meldungsversion bezeichnet) gibt die Version eines Dokumentes an, welches über die DocumentIdentification identifiziert wird. Mit jeder Aktualisierung wird die Versionsangabe kontinuierlich, mit 1  beginnend, hochgezählt. Die jeweils höchste DocumentVersion kennzeichnet die aktuelle Version.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- DA/RE extension -->
				<xsd:element name="DareDocumentType" type="DareMessageType">
					<xsd:annotation>
						<xsd:documentation source="Desc" xml:lang="DE">Der DocumentType dient zur eindeutigen Kennzeichnung des Dokumenttyps. D11 DA/RE NTW Stammdaten.</xsd:documentation>
						<xsd:documentation source="Remark" xml:lang="DE">Anwendbare Codes: 	'D11'</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="modelingAuthoritySet" type="DareModelingAuthoritySet">
					<xsd:annotation>
						<xsd:documentation source="Desc" xml:lang="DE">Allgemeiner Name des Netzmodells auf das sich bezogen wird. Format http://[UKZ_4-5Z]-[NB-Nr].cim /[spg-level]/[opt. Bereich] </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DareDependentOnEQ" type="DareDependentOnEQ">
					<xsd:annotation>
						<xsd:documentation source="Desc" xml:lang="DE">ID (uuid) des konkreten cim EQ-Profils, Teil des Netzmodells in dem die Netzbetriebsmittel definiert werden</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DareDependentOnTP" type="DareDependentOnTP">
					<xsd:annotation>
						<xsd:documentation source="Desc" xml:lang="DE">ID (uuid) des konkreten cim TP-Profils, Teil des Netzmodells in dem die Topologischen Netzknoten definiert werden.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DareDependentOnEQ_BD" type="DareDependentOnEQ_BD">
					<xsd:annotation>
						<xsd:documentation source="Desc" xml:lang="DE">ID (uuid) des konkreten cim EQ_BD-Profils, Teil des BoundarySets, Definition der Base-Voltages.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DareDependentOnTP_BD" type="DareDependentOnTP_BD">
					<xsd:annotation>
						<xsd:documentation source="Desc" xml:lang="DE">ID (uuid) des konkreten cim TP_BD-Profils, Teil des BoundarySets in dem die Übergabeknoten definiert werden.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SenderIdentification" type="ecc:PartyType">
					<xsd:annotation>
						<xsd:documentation source="Desc" xml:lang="DE">Dieses Element dient zur eindeutigen Identifikation des Senders über seine Marktpartner-ID, die zu einer vordefinierten Codeliste einer vergebenden Organisation gehören muss.</xsd:documentation>
						<xsd:documentation source="Remark" xml:lang="DE">Anwendbare codingSchemes:
'A10'
'NDE'</xsd:documentation>	
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SenderRole" type="ecc:RoleType">
					<xsd:annotation>
						<xsd:documentation source="Desc" xml:lang="DE">Dieses Element dient zur Angabe der Marktrolle des Absenders.</xsd:documentation>
						<xsd:documentation source="Remark" xml:lang="DE">Anwendbare Codes:
'A18' Grid operator 
</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ReceiverIdentification" type="ecc:PartyType">
					<xsd:annotation>
						<xsd:documentation source="Desc" xml:lang="DE">Dieses Element dient zur eindeutigen Identifikation des Empfängers über seine Marktpartner-ID, die zu einer vordefinierten Codeliste einer vergebenden Organisation gehören muss.</xsd:documentation>
						<xsd:documentation source="Remark" xml:lang="DE">Anwendbare codingSchemes:
'A10'
'NDE'</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ReceiverRole" type="ecc:RoleType">
					<xsd:annotation>
						<xsd:documentation source="Desc" xml:lang="DE">Dieses Element dient zur Angabe der Marktrolle des Empfängers.</xsd:documentation>
						<xsd:documentation source="Remark" xml:lang="DE">Anwendbare Codes:
'A39' Data provider </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="created" type="ecc:DocumentDateTimeType">
					<xsd:annotation>
						<xsd:documentation source="Desc" xml:lang="DE">
Hier ist der Erzeugungszeitpunkt des Dokuments (in der jeweiligen Version) anzugeben. Die Zeitangabe erfolgt in UTC. 
							
Der Zeitpunkt ist immer im Format yyyy-mm-ddThh:mm:ssZ anzugeben mit:
							
yyyy vier Ziffern für die Jahresangabe
mm zwei Ziffern für die Monatsangabe
dd zwei Ziffern für die Tagesangabe
hh zwei Ziffern für die Stundenangabe
mm zwei Ziffern für die Minutenangabe
ss zwei Ziffern für die Sekundenangabe
T Trennzeichen zwischen Datum und Uhrzeit
Z Verweis auf UTC
						</xsd:documentation>
						<xsd:documentation source="Remark" xml:lang="DE">Zeitpunkt in UTC gemäß Pattern</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="scenarioTime">
					<xsd:annotation>
						<xsd:documentation source="Desc" xml:lang="DE">
Zeitpunkt ab dem die NTW-Stamdaten gueltig sind.
Das Format yyyy-mm-ddThh:mm:ssZ ist anzugeben mit:

yyyy vier Ziffern für die Jahresangabe
mm zwei Ziffern für die Monatsangabe
dd zwei Ziffern für die Tagesangabe
hh zwei Ziffern für die Stundenangabe
mm zwei Ziffern für die Minutenangabe
ss zwei Ziffern für die Sekundenangabe
T Trennzeichen zwischen Datum und Uhrzeit
Z Verweis auf UTC
						</xsd:documentation>
						<xsd:documentation source="Example">2018-08-09T17:34:02Z</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="v" use="required">
							<xsd:simpleType>
								<xsd:restriction base="xsd:dateTime">
									<xsd:pattern value="((([0-9]{4})[\-](0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9])Z)"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="GridElementSensitivity" type="GridElementSensitivity_Type" minOccurs="1" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation source="Desc" xml:lang="DE">Der Absender kann so viele Sensitivitäten wie nötig übertragen. Nach Möglichkeit sollen alle relevanten NTWs die zu einem Netzmodell gehören in einem Dokument übertragen werden.
Eine Eintrag für eine NTW besteht immer aus der Kombination aus Netzknoten (ResourceObject) und Netzbetriebsmittel (GridElement)
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="DtdVersion" type="xsd:string" fixed="4"/>
			<xsd:attribute name="DtdRelease" type="xsd:string" fixed="1"/>
			<xsd:attribute name="DtdBDEWNachrichtenVersion" type="xsd:string" fixed="1.0"/>
			<xsd:attribute name="DareSchemaVersion" type="DareSchemaVersionType" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="GridElementSensitivity_Type">
		<xsd:sequence>
			<xsd:element name="BusinessType" type="ecc:BusinessType">
				<xsd:annotation>
					<xsd:documentation source="Desc" xml:lang="DE">Verwendung des BusinessType B59 für die Sensitivität zwischen Netzknoten (ResourceObject) und Netzbetriebsmittel (GridElement)</xsd:documentation>
					<xsd:documentation source="Remark" xml:lang="DE">Anwendbare Codes: 	'B59'</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Direction" type="ecc:DirectionType">
				<xsd:annotation>
					<xsd:documentation source="Desc">A01 Wert der Sensitivität in StandardRichtung 1->2 .
A02 Wert gegen die StandardRichtung 2->1</xsd:documentation>
					<xsd:documentation source="Example" xml:lang="DE">
Beispiel für A02: Leistungserhöhung am Knoten (ResourceObject) bewirkte eine Leistungserhöhung gegen die Standardrichtung des NBM (GridElement), ist gleichbedeutend mit einer Leistungsreduktion in die StandardRichtung
					</xsd:documentation>
					<xsd:documentation source="Remark" xml:lang="DE">Anwendbare Codes:
'A01' 
'A02'</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ConnectingArea" type="ecc:AreaType">
				<xsd:annotation>
					<xsd:documentation>Es ist der EIC der Regelzone anzugeben, der die technische(n) Ressource(n) zugeordnet ist/sind, für die die Zeitreihen gemeldet werden.
					</xsd:documentation>
					<xsd:documentation source="Remark" xml:lang="DE">
Anwendbare Codes:
'10YDE-ENBW-----N'	TransnetBW
'10YDE-EON------1'	TenneT
'10YDE-RWENET---I'	Amprion
'10YDE-VE-------2'	50Hertz
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ResourceObject" type="DareResourceObjectType">
				<xsd:annotation>
					<xsd:documentation source="Desc" xml:lang="DE">ID des Netzknoten welcher auch im Netzmodell-light (TP) hinterlegt ist, präferiert wird hier die uuid (rdf:ID) alternativ kann auch ein T-EIC-Code verwendet werden.</xsd:documentation>
					<xsd:documentation source="Remark" xml:lang="DE">Anwendbare codingSchemes:
'A01'
'NDE'</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ResourceObjectDisplay" type="DareResourceObjectDisplay" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="Desc" xml:lang="DE">Optional Name des Topologischen Netzknotens</xsd:documentation>
					<xsd:documentation source="Remark" xml:lang="DE">Anwendbare codingSchemes:
'A01'
'NDE'</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GridElement" type="DareResourceObjectType">
				<xsd:annotation>
					<xsd:documentation source="Desc" xml:lang="DE">ID des Netzbetriebsmittels(NBM) welches auch im Netzmodell-light (EQ) hinterlegt, ist präferiert wird hier die uuid (rdf:ID) alternativ kann auch ein T-EIC-Code verwendet werden.</xsd:documentation>
					<xsd:documentation source="Remark" xml:lang="DE">Anwendbare codingSchemes:
'A01'
'NDE'</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GridElementDisplay" type="DareGridElementDisplay" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="Desc" xml:lang="DE">Optional Name des Netzbetriebsmittels</xsd:documentation>
					<xsd:documentation source="Remark" xml:lang="DE">Anwendbare codingSchemes:
'A01'
'NDE'</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MeasurementUnit" type="ecc:UnitOfMeasureType">
				<xsd:annotation>
					<xsd:documentation source="Desc">C62 errlaubt Werte zwischen 0 und 1</xsd:documentation>
					<xsd:documentation source="Remark" xml:lang="DE">Anwendbare Codes:
'C62'	One </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Sensitivity" type="DareSensitivityType">
				<xsd:annotation>
					<xsd:documentation source="Desc">Der Wert der Sensitivität. zwiscehn 0 und 1. Wert hat kein Vorzeichen. Siehe Direction</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- DA/RE extensions -->
	<xsd:simpleType name="DareSchemaVersionType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1.0"/>
			<!--	<xsd:enumeration value="1.1"/>-->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DareExtensionMessageType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="D11"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DareMessageTypeList">
		<xsd:union memberTypes="ecl:StandardMessageTypeList DareExtensionMessageType"/>
	</xsd:simpleType>
	<xsd:complexType name="DareMessageType">
		<xsd:attribute name="v" type="DareMessageTypeList" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="DareModelingAuthoritySet">
		<xsd:attribute name="v" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="32"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="DareDependentOnEQ">
		<xsd:attribute name="v" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="36"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="DareDependentOnTP">
		<xsd:attribute name="v" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="36"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="DareDependentOnEQ_BD">
		<xsd:attribute name="v" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="36"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="DareDependentOnTP_BD">
		<xsd:attribute name="v" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="36"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="DareResourceObjectDisplay">
		<xsd:attribute name="v" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="codingScheme" type="ecl:CodingSchemeType" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="DareGridElementDisplay">
		<xsd:attribute name="v" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="codingScheme" type="ecl:CodingSchemeType" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="DareSensitivityType">
		<xsd:attribute name="v" type="xsd:decimal" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="DareResourceObjectType">
		<xsd:attribute name="v" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="36"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="codingScheme" type="ecl:CodingSchemeType" use="required"/>
	</xsd:complexType>
</xsd:schema>
